ignore_colors = [
    #000000, # filter all black, DO NOT USE "#"!!!
]
width = 2000
height = 2000
default_prio = 120 # priority: higher number = higher chance of being placed

#example:
# [[structure]]
# name = "flagge-ost"
# file = "images/flagge-ost.png"
# priority_file = "images/flagge-ost_prio.png"
# startx = 1332
# starty = 1122
# priority = 127
